<div class='container'>
    <div class='row'>
        <div class='col l6 m-12 s12 push-l3'>
            <h1>Eat-Da-Burger</h1>
        </div>
    </div>
    <br />
    <div class='row'>
        <div class='col l8 s8 push-l4 push-s2'>
            <img src='/assets/img/burger.png'>
        </div>
    </div>

    <div class='row'>
        <div class='col s4'>
            <ol>
                <h4>Burgers to Devour</h4>
                <hr>
                {{#each burgers}} {{#unless this.devoured}}
                <li class='burgy'>
                    <div>
                    <p class='burgy'>
                         {{this.burger_name}} 
                        <a class="waves-effect waves-light red eat btn-small" data-id="{{this.id}}">Eat!!</a>
                    </p>
                    </div>
                </li>

                {{/unless}} {{/each}}
            </ol>
        </div>

        <div class='col s4 push-l4 push-s2'>
            <ol>
                
                <h4>Burgers Devoured</h4>
                <hr>
                {{#each burgers}} {{#if this.devoured}}
                <li class= 'burgy'>
                    <p class='burgy'>{{this.burger_name}}</h5>
                </li>
                {{/if}}{{/each}}
            </ol>
        </div>
    </div>
    <div class= 'container'>
        <div class='col s6 push 3'>
      <form action="/api/burgers" method='POST'>
    <div class="input-field">
   
    <!--  <div class="btn">-->
       <!-- <button id='burgpost'type='submit'>Add</button>-->
        <!--  <a id='burgpost' class="btn-floating btn-large waves-effect waves-light red"><i type='submit' class="material-icons">add</i></a>-->
     <button class="subs btn waves-effect waves-light red" type="submit" name="action">Add
    <i class="material-icons">add</i>
  </button>
    <!--   <input type="text">--> 
    <!-- </div>-->
      <div class="file-path-wrapper">
        <input type='text' id = 'name' name='burger_name'class=" validate red"  placeholder="Add a Burger to Eat">
      </div>
    </div>
  </form>
        </div>
    </div>

</div>

<script>
    $(() => {
   //     $('#burgpost').on("click", function(){
     //////       var name = $('#burger_name').val()
           // console.log(name)
        //    $.ajax('/api/burgers',{
          //      type: "POST",
         //       name: name
         //   }).then(
           //     location.reload()
           // )
       // })
        $('.eat').on("click", function (event) {

            var id = $(this).data('id');
            console.log($(this))
            var devour = {
                devoured: true
            }

            $.ajax('/api/burgers/' + id, {
                type: "PUT",
                id: id
            }).then(
                location.reload()
            )
        })
    })
</script>